# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# .NET
bin/
obj/
.vs/
*.user
*.suo

# Node
node_modules/
.next/
out/
dist/
build/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
.internal/

# Docker
docker-data/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local Claude settings
.claude/settings.local.json
